
<%= form_for(@content) do |f| %>
  <% if @content.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h4>

      <ul>
      <% @content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <script>

      $(document).ready(function()
      {
          $("#limit_date").hide();

              $("#content_category_id").change(
                function()
                {
                    if($("#content_category_id").val() == 1)
                    {
                        $("#limit_date").hide();
                        $("#event_date").show();
                        $("#event_site").show();
                    }
                    else if($("#content_category_id").val() == 2 || $("#content_category_id").val() == 3)
                    {
                        $("#limit_date").hide();
                        $("#event_date").hide();
                        $("#event_site").hide();
                    }
                    else if($("#content_category_id").val() == 4)
                    {
                        $("#limit_date").show();
                        $("#event_date").hide();
                        $("#event_site").hide();
                    }
                    else if($("#content_category_id").val() == 5)
                    {
                        $("#limit_date").hide();
                        $("#event_date").hide();
                        $("#event_site").hide();
                    }
                }
              )

          $(function() {
              $('.input-row').select2({tags:["fct/unl", "campustv", "informatica"], tokenSeparators: [",", " "]})
          });
      });

  </script>

  <div class="field" id="category">
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>

  <div class="field" id="title">
    <br>
    <%= f.text_field :title, :placeholder => "Título", :class => "form-control" %>
  </div>

  <div class="field" id="description">
    <br>
    <%= f.text_area :description, 'data-provide'=>'markdown', :rows => "10", :placeholder => "Texto" %>
  </div>

  <div class="field" id="video">
    <br>
    <%= f.text_field :video, placeholder: "Video URL", :class => "form-control" %>
  </div>

  <div class="field" id="limit_date">
    <br>
    <%= f.label :limit_date %>
    <%= f.date_select :limit_date %>
  </div>

    <div class="field" id="event_date">
      <br>
      <strong>Data: </strong>
      <%= f.datetime_select :event_datetime %>
    </div>

  <div class="field" id="event_site">
    <br>
    <%= f.text_field :event_site, :placeholder => "Local do evento", :class => "form-control" %>
  </div>

  <div class="field" id="tags">
  <br>
    <%= f.text_field :tag_list, :class => "form-control input-row", :placeholder => "Tags" %>
  </div>

  <div class="actions">
    <br>
    <%= f.submit "Submeter", :class => "btn btn-default" %>
  </div>

<% end %>