<div id="news">
  <% @contents.each do |content| %>
      <div class="content-container">
        <div class="content-title">
          <h4 title="<%= content.title %>"><%= link_to truncate(content.title, length: 70, omission: '... '), content %></h4>
        </div>
        <div class="content-image">
          <% if content.image.url(:thumb) == nil %>
              <% if content.category_id == 1 %>
                <%= image_tag('calendar.png') %>
              <% elsif content.category_id == 2 %>
                  <%= image_tag('news.png') %>
              <% elsif content.category_id == 3 %>
                  <%= image_tag('pedagogical.png') %>
              <% elsif content.category_id == 4 %>
                  <%= image_tag('work.png') %>
              <% elsif content.category_id == 5 %>
                  <%= image_tag('reports.png') %>
              <% end %>
          <% else %>
              <%= image_tag(content.image.url(:thumb)) %>
          <% end %>
        </div>
        <div class="content-text">
          <div class="content-type">
            <span><a href="<%= category_path(content.category_id) %>"><%= get_category(content.category_id) %></a></span>
            <span> · </span>
            <span id="pub_date"><%= time_ago_in_words(content.created_at) %></span>
            <% if not(content.video.blank?) %>
                <span> · </span>
                <span><i class="glyphicon glyphicon-facetime-video"></i></span>
            <% end %>

            <span> · </span>

            <% if user_signed_in? %>
                <% if current_user.liked? content %>
                    <%= link_to raw('<i class="glyphicon glyphicon-star"></i>'), dislike_content_path(content), remote: true,class: 'vote', method: :put, data: { toggle_text: '<i class="glyphicon glyphicon-star-empty"></i>', toggle_href: like_content_path(content), id: content.id } %>
                <% else %>
                    <%= link_to raw('<i class="glyphicon glyphicon-star-empty"></i>'), like_content_path(content), remote: true, class: 'vote', method: :put, data: { toggle_text: '<i class="glyphicon glyphicon-star"></i>', toggle_href: dislike_content_path(content), id: content.id } %>
                <% end %>
            <% else %>
                <i class="glyphicon glyphicon-star"></i>
            <% end %>

            <span class="votes-count" data-id="<%= content.id %>">
                    <%= content.get_likes.size %>
            </span>

          </div>
          <div class="content-description">
            <p>
              <%= truncate_html(content.description.html_safe, length: 300, omission: '... ') %>
            </p>
          </div>
        </div>
      </div>
<% end %>

</div>

