<div id="news">
  <% @contents.each do |content| %>
      <div class="content-container">
        <div class="content-title">
          <h4 title="<%= content.title %>"><%= link_to truncate(content.title, length: 70, omission: '... '), content %></h4>
        </div>
        <div class="content-image">
          <%= image_tag(content.image.url(:thumb)) %>
        </div>
        <div class="content-text">
          <div class="content-type">
            <span><a href="<%= category_path(content.category_id) %>"><%= get_category(content.category_id) %></a></span>
            <span> · </span>
            <span id="pub_date"><%= time_ago_in_words(content.created_at) %></span>
            <% if not(content.video.blank?) %>
                <span> · </span>
                <span><i class="glyphicon glyphicon-facetime-video"></i></span>
            <% end %>
          </div>
          <div class="content-description">
            <p>
              <%= truncate_html(content.description.html_safe, length: 300, omission: '... ') %>
            </p>
          </div>
        </div>
      </div>
  <% end %>
</div>