<div id="article">
  <h3><%= @content.title %></h3>

  <div id="article_metadata">
    <span id="author"><%= link_to get_author(@content.user_id), user_path(@content.user_id) %></span><span> · </span>
    <span id="pub_date"><%= @content.created_at %></span>
    <span> · </span><%= link_to get_category(@content.category_id), category_path(@content.category_id) %>
  </div>

  <hr>

  <div id="article_content">
    <img src="/assets/JCN.jpg" alt="Fotografia">
    <%= @content.description.html_safe %>
  </div>

  <% unless @content.video.blank? %>
        <iframe width="420" height="345" src="<%= @content.video %>">
        </iframe>
  <% end %>

  <hr>
  <span><%= link_to 'Voltar', contents_path %></span><span> · </span><span class="glyphicon glyphicon-tag"></span> Desporto, raquetes
</div>