<h2><%= @user.name %></h2>
<hr>

<p>
  <strong>Função: </strong>
  <% if @user.is_teacher %>
      <%= "Professor" %>
  <% else %>
      <%= "Aluno" %>
  <% end %>
</p>

<p>
  <strong>Popularidade: </strong>
  <%= user_total_likes %> <i class="glyphicon glyphicon-star"></i>
</p>

<p>
  <strong>Nº de favoritos: </strong>
  <%= @user.find_liked_items.size %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<br>
<h3>Conteúdos inseridos</h3>
<hr>

<% if @user.contents.length > 0 %>
    <% @user.contents.order('created_at DESC').each do |content| %>

        <h5 class="user_content"><%= link_to content.title, "#" + content.id.to_s + "modal", data: {toggle: "modal"} %>
          <span class="likes_number"> · <%= content.get_likes.size %> <i class="glyphicon glyphicon-star"></i></span>
        </h5>
        <hr>

        <!-- Modal -->
        <div class="modal fade" id="<%= content.id.to_s %>modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><%= content.title %></h4>
              </div>
              <div class="modal-body">

                <% if not(current_user.blank?) %>
                    <% if content.presence_in(User.find(current_user).contents) %>
                        <div class="row">
                          <div class="col-md-4"><i class="glyphicon glyphicon-eye-open"></i></div>
                          <div class="col-md-4"><i class="glyphicon glyphicon-edit"></i></div>
                          <div class="col-md-4"><i class="glyphicon glyphicon-trash"></i></div>
                        </div>

                        <div class="row">
                          <div class="col-md-4"><%= link_to 'Ver', content_path(content) %></div>
                          <div class="col-md-4"><%= link_to 'Editar', edit_content_path(content) %></div>
                          <div class="col-md-4"><%= link_to 'Apagar', content, method: :delete, data: { confirm: 'Tem a certeza?' } %></div>
                        </div>
                    <% else %>
                        <div class="row">
                          <div class="col-md-6"><i class="glyphicon glyphicon-eye-open"></i></div>
                          <div class="col-md-6"><i class="glyphicon glyphicon-warning-sign"></i></div>
                        </div>

                        <div class="row">
                          <div class="col-md-6"><%= link_to 'Ver', content_path(content) %></div>
                          <div class="col-md-6"><%= link_to 'Reportar publicação' %></div>
                        </div>
                    <% end %>
                <% else %>
                    <div class="row">
                      <div class="col-md-12"><i class="glyphicon glyphicon-eye-open"></i></div>
                    </div>
                    <div class="row">
                      <div class="col-md-12"><%= link_to 'Ver', content_path(content) %></div>
                    </div>
                <% end %>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% else %>
    <div class="alert alert-warning">
      Este utilizador não publicou qualquer conteúdo!
    </div>
<% end %>

<h3>Favoritos</h3>
<hr>

<% if @user.find_liked_items.length > 0 %>
    <% @user.find_liked_items.each do |c| %>

        <h5 class="user_content"><%= link_to c.title, c %>
          <span class="likes_number"> · <%= c.get_likes.size %> <i class="glyphicon glyphicon-star"></i></span>
        </h5>
        <hr>
    <% end %>
<% else %>
    <div class="alert alert-warning">
      Este utilizador ainda não tem favoritos!
    </div>
<% end %>


